<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to competition.name, competition_path(competition) %></h3>
  </div>
  <div class="panel-body">
    <h4>
      <%= competition.begins_at.to_formatted_s :month_day_year %> - <%= competition.ends_at.to_formatted_s :month_day_year %>
      <br>
      <small>
        <%= distance_of_time_in_words(competition.begins_at, competition.ends_at) %> left
      </small>
    </h4>
  </div>
  <table class="table">
    <thead>
      <th></th>
      <th>Competitor</th>
      <th>Catches</th>
      <th>Last catch made</th>
    </thead>
    <tbody>
      <%= render partial: 'competitor',
                 collection: competition.users.leaders,
                 locals:{ competition: competition } %>
    </tbody>
  </table>
</div>
