<%= form_for @competition do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, t('page.competition.form.label.name') %>
    <br />
    <%= f.text_field :name,
                      class: 'form-control',
                      autofocus: true,
                      required: true,
                      placeholder: t('page.competition.form.placeholder.name') %>
  </div>

  <div class="form-group">
    <%= f.label :prize, t('page.competition.form.label.prize') %>
    <br />
    <%= f.text_field :prize,
                      class: 'form-control',
                      required: true,
                      placeholder: t('page.competition.form.placeholder.prize') %>
  </div>
  <div class="form-group">
    <%= f.label :begins_at, t('page.competition.form.label.begins_at') %>
    <div class="input-group">
        <%= f.datetime_field :begins_at,
                              class: 'form-control',
                              data: {'date-format'=> 'mm/dd/yyyy'},
                              required: true,
                              placeholder:
                                t('page.competition.form.placeholder.begins_at') %>
        <span class="input-group-addon">to</span>
        <%= f.datetime_field :ends_at,
                              class: 'form-control',
                              data: {'date-format'=> 'mm/dd/yyyy'},
                              required: true,
                              placeholder:
                                t('page.competition.form.placeholder.ends_at') %>

    </div>
  </div>
  <h2>Competing anglers</h2>
  <% f.object.users.each do |user| %>
  <%= f.fields_for user do |user_form| %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
      </span>
      <%= user_form.text_field :name, class: 'form-control', required: true %>
      <span aria-hidden="true" class="glyphicon glyphicon-remove form-control-feedback" style="display:none;"></span>
    </div>
  </div><!-- /.form-group -->
  <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit t('generic.term.submit'), class: 'btn btn-default' %>
  </div>
<% end %>
