<%= form_for @competition do |competition_form| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= competition_form.label :name, t('page.competition.form.label.name') %>
    <br />
    <%= competition_form.text_field :name,
                      class: 'form-control',
                      autofocus: true,
                      required: true,
                      placeholder: t('page.competition.form.placeholder.name') %>
  </div>

  <div class="form-group">
    <%= competition_form.label :prize, t('page.competition.form.label.prize') %>
    <br />
    <%= competition_form.text_field :prize,
                      class: 'form-control',
                      required: true,
                      placeholder: t('page.competition.form.placeholder.prize') %>
  </div>
  <div class="form-group">
    <%= competition_form.label :begins_at, t('page.competition.form.label.begins_at') %>
    <div class="input-group">
        <%= competition_form.date_field :begins_at,
                              class: 'form-control',
                              data: {'date-format'=> 'mm/dd/yyyy'},
                              required: true,
                              placeholder:
                                t('page.competition.form.placeholder.begins_at') %>
        <span class="input-group-addon">to</span>
        <%= competition_form.date_field :ends_at,
                              class: 'form-control',
                              data: {'date-format'=> 'mm/dd/yyyy'},
                              required: true,
                              placeholder:
                                t('page.competition.form.placeholder.ends_at') %>

    </div>
  </div>
  <h2>Competing anglers</h2>
  <p class="help-block">
    There has to be at least 2 competitors for this to work.
  </p>
  <%= competition_form.fields_for :users do |user_form| %>
  <div class="form-group">
    <%= user_form.collection_select :name,
                  User.all, :id, :name,
                  {prompt: true},
                  {class: 'form-control'} %>
  </div><!-- /.form-group -->
  <% end %>

  <div class="actions">
    <%= competition_form.submit t('generic.term.submit'), class: 'btn btn-default' %>
  </div>
<% end %>
