<div class="col-md-6 col-md-offset-3">
  <header role="heading">
    <h1 class="page-header" itemprop="name"><%=t 'page.competition.new.title' %></h1>
  </header>

<%= render 'form' %>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title" id="panel-title">
      <%= t('generic.term.delete') %>
      <a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a>
    </h3>
  </div>
  <div class="panel-body">
    <%= link_to t('action.delete'),
                @competition,
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
</div>

<%= link_to 'Show', @competition %> |
<%= link_to 'Back', competitions_path %>
</div>
