<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb hidden-xs">
      <li class="active"><%= link_to 'Competitions', competitions_path %></li>
    </ol>
    <h1 class="page-header" itemprop="name">
      <%=t 'page.competition.index.title' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <% unless @competitions.any? %>
        <p class="lead">
          No competitions yet.
        </p>
        <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th class="hidden-xs">Prize</th>
              <th>From</th>
              <th>To</th>
              <th>Competitors</th>
              <th class="hidden-xs"></th>
              <th class="hidden-xs"></th>
            </tr>
          </thead>

          <tbody>
            <% @competitions.each do |competition| %>
              <tr>
                <td><%= link_to competition.name, competition %></td>
                <td class="hidden-xs"><%= competition.prize %></td>
                <td>
                  <time datetime="<%= competition.begins_at.to_formatted_s :db %>">
                    <%= competition.begins_at.to_formatted_s :month_day_year %>
                  </time>
                </td>
                <td>
                  <time datetime="<%= competition.ends_at.to_formatted_s :db %>">
                    <%= competition.ends_at.to_formatted_s :month_day_year %>
                  </time>
                </td>
                <td><%= competition.users.count %></td>
                <td class="hidden-xs">
                  <span class="label <%= bs_class_for_competition_status competition %>">
                    <%= competition_status_in_words(competition).upcase %>
                  </span>
                </td>
                <td class="hidden-xs">
                  <%= link_to 'Edit',
                              edit_competition_path(competition),
                              class: 'btn btn-default btn-xs btn-block' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end  %>
      </div><!-- /.panel-body-->
      <% if policy(:competition).new? %>
      <div class="panel-footer">
        <p>
          <%= link_to 'New Competition',
                  new_competition_path,
                  class: 'btn btn-default' %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
