<div class="col-xs-12">
  <article class="article">
    <header role="heading">
      <h1 class="page-header" itemprop="name">
        <%=t 'page.competition.index.title' %>
      </h1>
    </header>

    <% unless @competitions.any? %>
    <p class="lead">
      There aren't any.
    </p>
    <p>
      <%= link_to 'Log in', new_user_session_path %> and add one.
    </p>
    <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Prize</th>
          <th>Start</th>
          <th>Competitors</th>
        </tr>
      </thead>

      <tbody>
        <% @competitions.each do |competition| %>
          <tr>
            <td><%= link_to competition.name, competition %></td>
            <td><%= competition.prize %></td>
            <td><%= competition.begins_at %></td>
            <td><%= competition.competitors.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end  %>
    <footer>
      <p>
        <%= link_to 'New Competition',
                    new_competition_path,
                    class: 'btn btn-default' %>
      </p>
    </footer>
  </article>
</div>
