<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header" itemprop="name">
      <%=t 'page.competition.index.title' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <% unless @competitions.any? %>
        <p class="lead">
          No competitions yet.
        </p>
        <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Prize</th>
              <th>From</th>
              <th>To</th>
              <th>Competitors</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @competitions.each do |competition| %>
              <tr>
                <td><%= link_to competition.name, competition %></td>
                <td><%= competition.prize %></td>
                <td>
                  <time datetime="<%= competition.begins_at.to_formatted_s :db %>">
                    <%= competition.begins_at.to_formatted_s :month_day_year %>
                  </time>
                </td>
                <td>
                  <time datetime="<%= competition.ends_at.to_formatted_s :db %>">
                    <%= competition.ends_at.to_formatted_s :month_day_year %>
                  </time>
                </td>
                <td><%= competition.users.count %></td>
                <td>
                  <span class="label <%= bs_is_active_label_class competition.active? %>">
                    <%= competition_status_in_words(competition.active?).upcase %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end  %>
      </div><!-- /.panel-body-->
      <% if policy(:competition).new? %>
      <div class="panel-footer">
        <p>
          <%= link_to 'New Competition',
                  new_competition_path,
                  class: 'btn btn-default' %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
