<article class="">
  <header role="heading">
    <ol class="breadcrumb hidden-xs">
      <li><%= link_to 'Competitions', competitions_path %></li>
      <li class="active"><%= link_to @competition.name, competition_path(@competition) %></li>
    </ol>
    <h1 class="page-header" itemprop="name">
      <%= @competition.name %>
    </h1>
  </header>
    <div class="row">
      <div class="col-sm-6">
        <h2>Prize <small><%= @competition.prize %></small></h2>
        <h2>Start <small><%= @competition.begins_at %></small></h2>
        <h2>End <small><%= @competition.ends_at %></small></h2>
      </div>
      <div class="col-sm-6">
        <h2>Competitors</h2>
        <table class="table">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Catches
              </th>
            </tr>
          </thead>
          <tbody>
          <% @competition.users.each do |competitor| %>
          <tr>
            <th>
              <%= link_to competitor.name, competitor %>
            </th>
            <th>
              <%= competitor.catches.count %>
            </th>
          </tr>

          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <footer>
    <p>
      <% if policy(:competition).edit? %>
      <%= link_to 'Edit', edit_competition_path(@competition) %> |
      <% end %>
      <%= link_to 'Back', competitions_path %>
    </p>
  </footer>
</article>
