<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb hidden-xs">
      <li><%= link_to 'Competitions', competitions_path %></li>
      <li class="active"><%= link_to @competition.name, competition_path(@competition) %></li>
    </ol>
    <h1 class="page-header" itemprop="name">
      <%= link_to @competition.name %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Details
      </div>
      <div class="panel-body">
        <h4>Duration</h4>
        From <%= @competition.begins_at.to_formatted_s :month_day_year %> to <%= @competition.ends_at.to_formatted_s :month_day_year %>

        <h4>Prize</h4>
        <p><%= @competition.prize %></p>

        <% if @competition.bonus? %>
        <h4>Bonus</h4>
        <p><%= @competition.bonus %></p>
        <% end %>

        <% if @competition.won? %>
        <h4>Winner</h4>
        <p><%= @competition.winner.name %></p>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Competitors
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Catches
              </th>
            </tr>
          </thead>
          <tbody>
          <%= render partial: 'competitor',
                     collection: @competition.users.leaders,
                     locals: { competition: @competition } %>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.col-sm-6 -->
</div>
