<div class="well bs-component">
  <%= form_for @catch do |f| %>
    <fieldset>
      <legend>Catch</legend>
      <div class="row">
        <div class="col-md-6">
            <% if @catch.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@catch.errors.count, "error") %> prohibited this catch from being saved:</h2>

                <ul>
                <% @catch.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :species, t('page.catch.form.label.species') %>
              <br />
              <%= f.text_field :species,
                                class: ['form-control', 'typeahead'],
                                autofocus: true,
                                required: true,
                                placeholder: t('page.catch.form.placeholder.species') %>
            </div>

            <div class="form-group">
              <%= f.label :length_in_inches,
                          t('page.catch.form.label.length_in_inches') %>
              <br />
              <%=
              f.number_field :length_in_inches,
                            class: 'form-control',
                            min: 0,
                            required: true,
                            placeholder: t('page.catch.form.placeholder.length_in_inches') %>
              <p class="small help-block">
                Leave blank (0) if you didn't measure the catch.
              </p>
            </div>

            <div class="form-group">
              <%= f.label :bait_used, t('page.catch.form.label.bait_used') %>
              <br />
              <%= f.text_field :bait_used,
                                class: 'form-control',
                                required: true,
                                placeholder: t('page.catch.form.placeholder.bait_used') %>
            </div>
        </div><!-- /.col-sm-6 -->
        <div class="col-md-6">

              <div class="form-group">
                <%= f.label :location_description,
                            t('page.catch.form.label.location_description') %>
                <br />
                <%=
                f.text_field :location_description,
                              class: 'form-control',
                              required: true,
                              placeholder: t('page.catch.form.placeholder.location_description') %>
              </div>

              <div class="form-group">
                <%= f.label :caught_at, t('page.catch.form.label.caught_at') %>
                <br />
                <%= f.date_field :caught_at,
                                  class: 'form-control',
                                  min: Date.today - 6.months,
                                  required: true,
                                  placeholder: t('page.catch.form.placeholder.caught_at') %>
              </div>
        </div><!-- /.col-sm-6 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-xs-12">
          <div class="actions">
            <div class="form-group">
              <%= f.submit 'Cancel', class: 'btn btn-default', type: 'reset' %>
              <%= f.submit 'Add catch', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
