<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb hidden-xs">
      <li class="active"><%= link_to 'Catches', catches_path %></li>
    </ol>
    <h1 class="page-header" itemprop="name" role="heading">
      <%=t 'page.catch.index.title' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @catches.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Species</th>
              <th>Length</th>
              <th>Angler</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @catches.each do |catch| %>
              <tr>
                <td><%= link_to catch.species, catch %></td>
                <td><%= catch.length_in_inches %></td>
                <td><%= catch.user.name %></td>
                <td>thumbnail</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
        <p class="lead">
          No catches yet.
        </p>
      </div><!-- ./panel-body-->
      <% if policy(:catch).new? %>
      <div class="panel-footer">
        <% if @catch.present? %>
        <% unless controller_name == 'catches' && action_name === 'create' %>
        <%= link_to 'Add a catch', new_catch_path, class: 'btn btn-default',
                    data: { toggle: 'modal',
                            target: '#competition-selection'}  %>
        <% end %>
        <% else %>
        <%= link_to 'Add a catch', new_catch_path, class: 'btn btn-default' %>
        <% end %>

        <p class="small help-block">
          NOTE: You can add a catch only if you're already competing.
        </p>
      </div>
      <% end %>
    </div><!-- /.panel -->

  </div>
</div>
