<div class="col-xs-12">
<article class="article">
  <header role="heading">
    <h1 class="page-header" itemprop="name">
      <%=t 'page.catch.index.title' %>
    </h1>
  </header>
  <% unless @catches.any? %>
  <p class="lead">
    There aren't any.
  </p>
  <p>
    <%= link_to 'Log in', new_user_session_path %> and add a bunch.
  </p>
  <% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Species</th>
        <th>Length</th>
        <th>Angler</th>
      </tr>
    </thead>

    <tbody>
      <% @catches.each do |catch| %>
        <tr>
          <td><%= link_to catch.species, catch %></td>
          <td><%= catch.length_in_inches %></td>
          <td><%= catch.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <footer>
    <p>
      <%= link_to 'New Catch', new_catch_path  %>
    </p>
  </footer>
</article>
