<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb hidden-xs">
      <li class="active"><%= link_to 'Catches', catches_path %></li>
    </ol>
    <h1 class="page-header" itemprop="name" role="heading">
      All catches
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Catches
      </div>
      <% if @catches.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Species</th>
            <th>Length</th>
            <th>Angler</th>

          </tr>
        </thead>

        <tbody>
          <% @catches.each do |catch| %>
            <tr>
              <td>
                <%= link_to catch do %>
                  <%= image_tag catch.image.url(:thumbnail),
                                class: 'img-thumbnail img-responsive img-rounded' %>
                <% end %>
              </td>
              <td>
                <%= link_to catch.species, catch %>
              </td>
              <td><%= length_in_words catch.length_in_inches %></td>
              <td>
                <% if policy(:user).show? %>
                <%= link_to catch.user.name, catch.user %>
                <% else %>
                <%= catch.user.name %>
                <% end %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <div class="panel-body">
        <p class="lead">
          No catches yet.
        </p>
      </div>
      <% end %>
      <% if policy(:catch).new? %>
      <div class="panel-footer">
        <% if @app_catch.present? %>
        <% unless controller_name == 'catches' && action_name === 'create' %>
        <%= link_to 'Add a catch', new_catch_path, class: 'btn btn-default',
                    data: { toggle: 'modal',
                            target: '#competition-selection'}  %>
        <% end %>
        <% else %>
        <%= link_to 'Add a catch', new_catch_path, class: 'btn btn-default' %>
        <% end %>

        <p class="small help-block">
          NOTE: You can add a catch only if you're already competing.
        </p>
      </div>
      <% end %>
    </div><!-- /.panel -->

  </div>
</div>
