<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header" itemprop="name" role="heading">
      <%=t 'page.catch.index.title' %>
    </h1>
  </div>
</div>

<div class="row">
  <!-- <div class="col-md-3">
    things
  </div> -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @catches.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Species</th>
              <th>Length</th>
              <th>Angler</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @catches.each do |catch| %>
              <tr>
                <td><%= link_to catch.species, catch %></td>
                <td><%= catch.length_in_inches %></td>
                <td><%= catch.user.name %></td>
                <td>thumbnail</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
        <p class="lead">
          No catches yet.
        </p>
        <p>
          <% unless user_signed_in? %>
          Log in and add some catches.
          <% else %>
          Click on the button below to add a catch
          <% end %>
        </p>
      </div><!-- ./panel-body-->
      <div class="panel-footer">
        <p>
          <% unless user_signed_in? %>
          <%= link_to 'Log in', new_user_session_path, class: 'btn btn-lg btn-primary' %>
          <% else %>
          <% if policy(:catch).new? %>
          <%= link_to 'New Catch', new_catch_path, class: 'btn btn-lg btn-primary'  %>
          <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <% end %>
      <footer>


      </footer>
  </div>
</div>
