<div class="col-xs-12">
<article class="article">
  <header role="heading">
    <h1 class="page-header" itemprop="name">
      <%=t 'page.catch.index.title' %>
    </h1>
  </header>
  <table class="table">
    <thead>
      <tr>
        <th>Species</th>
        <th>Length</th>
        <th>Angler</th>
      </tr>
    </thead>

    <tbody>
      <% @catches.each do |catch| %>
        <tr>
          <td><%= link_to catch.species, catch %></td>
          <td><%= catch.length_in_inches %></td>
          <td><%= catch.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <footer>
    <p>
      <%= link_to 'New Catch', new_user_catch_path(current_user)  %>
    </p>
  </footer>
</article>
