<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb hidden-xs">
      <li><%= link_to 'Catches', catches_path %></li>
      <li class="active"><%= link_to 'New', new_catch_path(@catch) %></li>
    </ol>
    <h1 class="page-header" itemprop="name">
      <%=t 'page.catch.new.title' %> for <%= link_to @catch.competition.name, competition_path(@catch.competition) %>
    </h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Back', catches_path %>
  </div>
</div>
