<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb hidden-xs">
      <li><%= link_to 'Catches', catches_path %></li>
      <li class="active"><%= link_to @catch.species, catch_path(@catch) %></li>
    </ol>
    <h1 class="page-header" itemprop="name">
      <%= @catch.species %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Length <small><%= @catch.length_in_inches %></small></h3>
    <h3>Bait used <small><%= @catch.bait_used %></small></h3>
    <h3>Date caught <small><%= @catch.caught_at %></small></h3>
    <h3>Caught at <small><%= @catch.location_description %></small></h3>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img class="img-responsive img-rounded" src="http://placehold.it/1080/dfd7ca/000000" alt="" />
    </div><!-- /.thumbnail -->
  </div>

  <p>
    <% if policy(:catch).edit? %>
    <%= link_to 'Edit', edit_catch_path(@catch) %> |
    <% end %>
    <%= link_to 'Back', catches_path %>
  </p>
</div>
