<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb hidden-xs">
      <li><%= link_to 'Catches', catches_path %></li>
      <li class="active"><%= link_to @catch.species, catch_path(@catch) %></li>
    </ol>
    <h1 class="page-header" itemprop="name">
      <%= @catch.species %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Details
      </div>
      <div class="panel-body">
        <h4>Length <small><%= length_in_words @catch.length_in_inches %></small></h4>
        <h4>Bait used <small><%= @catch.bait_used %></small></h4>
        <h4>Date caught <small><%= time_ago_in_words @catch.caught_at %> ago</small></h4>
        <h4>Caught at <small><%= @catch.location_description %></small></h4>
      </div>

    </div>

  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img class="img-responsive img-rounded" src="http://placehold.it/1080/dfd7ca/000000" alt="" />
    </div><!-- /.thumbnail -->
  </div>

  <p>
    <% if policy(:catch).edit? %>
    <%= link_to 'Edit', edit_catch_path(@catch) %> |
    <% end %>
    <%= link_to 'Back', catches_path %>
  </p>
</div>
