<tr>
  <td>
    <%= link_to user.name, user %>
  </td>
  <td>
    <%= time_ago_or_never_in_words user.last_sign_in_at %>
  </td>
  <td>
    <span class="text-uppercase label <%= bs_class_for_user_role user %>"><%= user_role_in_words user %></span>
    <span class="text-uppercase label <%= bs_class_for_user_status user %>"><%= user_status_in_words user %></span>
  </td>
</tr>
