<tr>
  <td>
    <%= link_to user.name, user %>
  </td>
  <td>
    <%= time_ago_or_never_in_words user.last_sign_in_at %>
  </td>
  <td>
    <span class="label <%= bs_user_role_label_class user.role %>"><%= user.role.upcase %></span>
    <span class="label <%= bs_is_active_label_class user.active? %>"><%= is_active_in_words(user.active?).upcase %></span>
  </td>
</tr>
