<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb hidden-xs">
      <li><%= link_to 'Anglers', users_path %></li>
      <li class="active"><%= link_to @user.name, user_path(@user) %></li>
    </ol>
    <h1 class="page-header" itemprop="name">
      <%= @user.name %>
    </h1>
  </div>
</div>

<!--  Profile -->
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Profile
      </div>
      <div class="panel-body">
        <p>
          Memember since <strong><time datetime="<%= @user.invitation_accepted_at.to_formatted_s :db %>"><%= time_ago_or_never_in_words @user.invitation_accepted_at %></time></strong>
        </p>
        <% if @user.last_sign_in_at.present? %>
        <p>
          Last log in <strong><time datetime="<%= @user.last_sign_in_at.to_formatted_s :db %>"><%= time_ago_or_never_in_words @user.last_sign_in_at %></time></strong>
        </p>
        <% if policy(@user).change_password? %>
        <p>
          <%= link_to 'Change your password', edit_user_registration_path %>
        </p>
        <% end %>
        <% end %>
      </div>
    </div>

    <% if policy(@user).toggle_activation? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        Activation
      </div>
      <div class="panel-body">
        <p class="help-block">
          If you deactivate this user, he will no longer be able to log in.
        </p>

        <p>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".activation-confirmation">
            Toggle activation
          </button>
        </p>

      </div>
    </div>
    <% end %>
  </div><!-- /.col-md-6-->

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Current competitions
      </div>
      <div class="panel-body">
        <% if @user.competitions.active.any? %>
        <%= render partial: 'competition',
                   collection: @user.competitions.active,
                   spacer_template: 'spacer' %>
        <% else %>
        Currently not competiting
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Recent catches
      </div>
      <div class="panel-body">
        <% if @user.catches.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>
                Species
              </th>
              <th>
                Bait used
              </th>
              <th>
                Date caught
              </th>
            </tr>
          </thead>
          <tbody>
          <%= render @user.catches.recent.top_10 %>
          </tbody>
        </table>
        <% else %>
        No catches on file
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if policy(@user).toggle_activation? %>
<!--  Modal: activation confirmation -->
<%= render 'shared/modal_confirmation',
           identifier: 'activation-confirmation',
           method: 'put',
           remote: true,
           title: 'Are you sure?',
           message: 'Are you certain you want to deactivate this user?',
           path: toggle_user_activation_path(@user) %>
<% end %>
