<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= leaderboard_url  %>">
        <%= t 'project.name' %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= css_class_for controller: 'leaderboard' %>" role="presentation">
          <%= link_to t('nav.leaderboard'), leaderboard_path  %>
        </li>
        <% if policy(:catch).create? %>
        <li class="dropdown">
          <a href="<%= competitions_url  %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <%= t('nav.catches') %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <%= link_to t('nav.catches'),
                          catches_path,
                          role: 'menuitem'  %>
            </li>
            <li role="presentation">
              <%= link_to 'Add catch',
                          new_catch_path,
                          role: 'menuitem'  %>
            </li>
          </ul>
        </li><!--/.dropdown-->
        <li class="<%= css_class_for controller: 'competitions' %>" role="presentation">
          <%= link_to t('nav.competitions'), competitions_path  %>
        </li>
        <% else %>
        <li class="<%= css_class_for controller: 'catches' %>" role="presentation">
          <%= link_to t('nav.catches'), catches_path  %>
        </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
      <small class="navbar-text navbar-right">
        <strong><%= link_to current_user.name, current_user %></strong>
      </small>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <% if policy(:user).show? %>
        <li class="dropdown">
          <a href="<%= users_url  %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <%= t 'nav.users.name' %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <%= link_to t('generic.term.users'),
                          users_path,
                          role: 'menuitem'  %>
            </li>
            <li role="presentation">
              <%= link_to t('nav.users.invite_new_user'),
                          new_user_invitation_path,
                          role: 'menuitem'  %>
            </li>
          </ul>
        </li><!--/.dropdown-->
        <% end %>
        <li role="presentation">
          <%= link_to t('generic.term.log_out'),
                      destroy_user_session_path,
                      method: 'delete' %>
        </li>
        <% else %>
        <li role="presentation">
          <%= link_to t('generic.term.log_in'), new_user_session_path  %>
        </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
