<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('project.description') %>">
    <title><%= content_for?(:title) ? yield(:title) : t('project.name') %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% unless @client_data.nil? %>
   <script id="client-data" type="application/json">
     <%= raw @client_data.to_json %>
   </script>
   <% end %>
  </head>
  <body>
    <div class="container">
      <%= render 'shared/navigation' %>
      <div class="row">
        <div class="col-xs-12" itemprop="mainContentOfPage" role="main">
          <%= render 'shared/messages' %>
          <%= yield %>
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </body>
</html>
