<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('project.description') %>">
    <title><%= content_for?(:title) ? yield(:title) : t('project.name') %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% unless @client_data.nil? %>
   <script id="client-data" type="application/json">
     <%= raw @client_data.to_json %>
   </script>
   <% end %>
  </head>
  <body>
    <div class="container">
      <section>
        <header>
          <div class="row">
            <div class="col-xs-12">
              <%= render 'shared/navigation' %>
              <%= render 'shared/messages' %>
              <!--  For use with the client only -->
              <div id="asynchronous-flash" class="alert fade in alert-dismissible hide" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="message"></div>
              </div>
            </div>
          </div><!-- /.row-->
        </header>

        <div class="content">
          <%= yield %>
        </div>

        <footer class="page-footer small">
          <div class="row">
            <div class="col-xs-12">
              Footer
            </div>
          </div>
        </footer>
      </section>
    </div><!-- /.container -->
  </body>
</html>
