<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('project.description') %>">
    <title><%= content_for?(:title) ? yield(:title) : t('project.name') %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% unless @client_data.nil? %>
   <script id="client-data" type="application/json">
     <%= raw @client_data.to_json %>
   </script>
   <% end %>
  </head>
  <body>
    <div class="container">
      <section>
        <header>
          <div class="row">
            <div class="col-xs-12">
              <%= render 'shared/navigation' %>
              <%= render 'shared/messages' %>
              <!--  For use with the client only -->
              <div id="asynchronous-flash" class="alert fade in alert-dismissible" role="alert" style="display:none;">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4></h4>
                <div class="message"></div>
              </div>
            </div>
          </div><!-- /.row-->
        </header>

        <div class="content">
          <%= yield %>
        </div>

        <footer class="page-footer small">
          <div class="row">
            <div class="col-xs-12">
              Footer
            </div>
          </div>
        </footer>
      </section>
    </div><!-- /.container -->

    <% if @catch.present? %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#select-competition">
      Launch competition selection modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="select-competition" tabindex="-1" role="dialog" aria-labelledby="select-competitionLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <%= form_for @catch do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
              Select a competition
            </h4>
          </div>
          <div class="modal-body">
            <p>
              Since you're competing in multiple competitions, tell us which
              competition this catch is for.
            </p>


            <div class="form-group">
              <%= f.collection_radio_buttons(:competition_id,
                                             current_user.competitions,
                                             :id,
                                             :name) do |b| %>
              <div class="radio">
                <%= b.label { b.radio_button + b.text } %>
              </div>
              <% end %>
            </div><!-- /.form-group -->

          </div>
          <div class="modal-footer">
            <div class="form-group">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit 'Save', class: 'btn btn-primary', data:{dismiss: 'modal'} %>
            </div>
          </div>
          <% end %>
        </div><!-- /.modal-content -->
      </div>
    </div>
    <% end %>
  </body>
</html>
